* {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

main {
  width: 80%;
  margin: auto;
}

header .inner {
  text-align: center;
  padding: 1vw;
}

header .inner [alt="Profile"] {
  width: 100%;
}

header .inner [alt="Share"] {
  position: absolute;
  top: 4%;
  right: 4%;
}

header .inner .img {
  position: relative;
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 10000px;
  overflow: hidden;
}

header .inner .img .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.459);
  /* display: flex; */
  align-items: center;
  justify-content: center;
  display: none;
}

header .inner .img .overlay.show {
  display: flex;
}

header h3 {
  text-align: center;
}

.links {
  padding: 1vw;
  /* outline: 2px solid black; */
}

.links div {
  background-color: #ccc;
  padding: .8vw;
  margin-block: 20px;
  text-align: center;
}

.links div a {
  color: black;
  font-weight: 700;
  font-size: 20px;
}

.socials {
  gap: 10px;
}

.socials a {
  font-size: 25px;
}